### **[13주차 강의] - 파이썬 입문(화)/백혜정 교수**

## **리뷰: 리스트 반복**

*  리스트 이용 : for 변수 in 리스트 : # 변수 - 요소값
* range() 이용 : for 변수 in range(0, len(리스트)) : #변수 - 인덱스

### 퀴즈
list1에 정수 5개 값을 초기화 <br>
target 리스트에 깊은 복사 수행<br>
target 리스트에 100 추가<br>
target 리스트 요소 값을 출력 (for 이용)<br>

In [3]:
# list1에 정수 5개 값을 초기화
list1 = [10,20, 30, 40, 50]
# target 리스트에 깊은 복사 수행
target = list(list1)   # list1[:]
# target 리스트에 100 추가
target.append(100)

#  target 리스트 요소 값을 출력 (for 이용) - 반복
for item in target:
    print(item)

# target 리스트 인덱스 이용해 출력
for i in range(0, len(target)) :
    print(f'{target[i]=}')

10
20
30
40
50
100
target[i]=10
target[i]=20
target[i]=30
target[i]=40
target[i]=50
target[i]=100

In [ ]:
temp = range(0, 20)

print(type(temp))
print(list(temp))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# **1부 리스트 동작**

*  내장함수 : 파이썬에서 제공 함수 - len(리스트이름)
* 메소드 : 리스트 객체내의 함수 -리스트이름.append()

##**3.1 내장함수**

*   len(리스트) : 리스트 길이
* max(리스트) : 리스트내의 max 값
* min(리스트) : 리스트내의 min 값

##**3.2 주요 리스트 메소드**


* 추가 : append(값), insert(삽입위치, 값)
* 삭제 : del 리스트[삭제인덱스], remove(값)
* 찾기 : index(값)
* 개수 : count(값) # 없는 경우 0 리턴

In [ ]:
nums = [11, 22, 33]

#1. 리스트에 요소 추가
#append(값) 함수 - 리스트 제일 뒤에 55 추가
nums.append(55)
nums.append(66)
print(f'{nums = }')

#insert(삽입위치, 값) 함수 - (특정) 삽입위치에 데이터 추가 3위치에 4 넣기
nums.insert(3, 4)
print(f'{nums = }')

#insert(삽입위치, 값) 함수 - 마지막 요소 자리에 50 삽입
nums.insert(-1, 50)
print(f'{nums = }')

nums = [11, 22, 33, 0, 11, 22, 33]
#2. 리스트에 요소 삭제
#del 키워드 -리스트 인덱싱이나 슬라이싱을 이용하여 요소를  선택하여 삭제
print(f'{nums = }')

#  1번째 삭제
del nums[1]
print(f'삭제 후 {nums = }')
# 2,3 삭제 -> 슬라이싱
del nums[2:4]
print(f'삭제 후 {nums = }')

nums = [11, 22, 33, 0, 11, 22, 33]
#remove 함수 - 리스트에서 요소 값과 일치하는 첫번째 요소만 삭제 *한 번만 삭제
# 요소가 33값 삭제
nums.remove(33)
print(f'remove 후  {nums = }')

nums = [11,22,33,55]
#2. 리스트에 요소 찾기
#index(값)함수 - 특정 요소의 인덱스 위치 반환
# nums 리스트에 44 의 인덱스
#print(nums.index(44))

#count(값)함수 - 값 이 일치하는 요소 개수 세기
# nums 리스트에 33이 몇 개?
print(nums.count(44))

nums = [11, 22, 33, 55, 66]
nums = [11, 22, 33, 4, 55, 66]
nums = [11, 22, 33, 4, 55, 50, 66]
nums = [11, 22, 33, 0, 11, 22, 33]
삭제 후 nums = [11, 33, 0, 11, 22, 33]
삭제 후 nums = [11, 33, 22, 33]
remove 후  nums = [11, 22, 0, 11, 22, 33]
0

### 친구 관리 프로그램
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 선택하시오: 2
이름을 입력하시오: 홍길동

In [ ]:
# 1. 변수 menu
menu = -1

# 2. 리스트 friends - 빈리스트
friends = []

# 3. 무한 반복 - 친구 관리 메뉴 보기 & 선택 & 실행
while True:
    # 3.1 메뉴 목록
    print("--------------------")
    print("1. 친구 리스트 출력")
    print("2. 친구추가")
    print("3. 친구삭제")
    print("9. 종료")

    # 3.2 사용자 입력(menu) - 메뉴를 선택하시오:
    menu = int(input("메뉴를 입력 하시오 : "))

    # 3.3 조건
    if menu == 1:
        print("메뉴가 1이 입력 되었습니다.")
        # 1이면 친구 리스트 출력
        for item in friends :
            print(item)

    elif menu == 2 :
        print("메뉴가 2가 입력 되었습니다.")
        # 2이면, 사용자 입력(name) - 이름을 입력 하시오 => 친구 리스트에 추가
        name = input("친구이름 입력 :")
        friends.append(name)

    elif menu == 3:
        print("메뉴가 3이 입력 되었습니다.")
        # 3이면, 사용자 입력(del_name) - 삭제할 이름을 입력 하시오 =>
        # 조건 - 삭제할 친구 이름이 친구 리스트에 있으면 삭제하고, 그렇지 않으면 '친구리스트에 없습니다.' 출력
        del_name = input("삭제하고 싶은 이름 입력 : ")
        if del_name in friends :
            friends.remove(del_name)
    # 9 이면 종료...
    elif menu == 9:
        print("메뉴가 9가 입력 되었습니다.")
        break

    else :
        print("메뉴가 잘못 입력 되었습니다.")

--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 2
메뉴가 2가 입력 되었습니다.
친구이름 입력 :대한
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 2
메뉴가 2가 입력 되었습니다.
친구이름 입력 :민국
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 2
메뉴가 2가 입력 되었습니다.
친구이름 입력 :만세
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 1
메뉴가 1이 입력 되었습니다.
대한
민국
만세
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 3
메뉴가 3이 입력 되었습니다.
삭제하고 싶은 이름 입력 : 명지
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 1
메뉴가 1이 입력 되었습니다.
대한
민국
만세
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 3
메뉴가 3이 입력 되었습니다.
삭제하고 싶은 이름 입력 : 민국
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 1
메뉴가 1이 입력 되었습니다.
대한
만세
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 입력 하시오 : 9
메뉴가 9가 입력 되었습니다.

# **2부 복합자료형과 함수**

리스트와 딕셔너리가 함수의 매개변수, 반환형인 경우

## **2.1 매개변수로서 리스트**


* 리스트를 매개변수로 전달
* 함수안에서 리스트 객체 변경시 - 새로운 리스트로 대입

In [ ]:
# 1. 리스트가 매개변수 일때 - 단지 사용만
#func1 정의
def func1(list1) :
    print(f'함수 안: {list1=}')
    for item in list1:
        print(item)

values = [0, 1, 2, 3, 4, 5, 6]
#func1 호출
func1(values)
# values 출력
print(f'함수 밖: {values=}')

함수 안: list1=[0, 1, 2, 3, 4, 5, 6]
0
1
2
3
4
5
6
함수 밖: values=[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# 2. 리스트가 매개변수 일때 - 리스트의 원소를 수정할때
#func2 정의  - 리스트의 0 번째를 99로 수정
def func2(list1) :
    list1[0] = 99
    print(f'함수 안: {list1=}')

values = [0, 1, 1, 2, 3, 5, 8]
# func2 호출
func2(values)
# values 출력
print(f'함수 밖: {values=}')

함수 안: list1=[99, 1, 1, 2, 3, 5, 8]
함수 밖: values=[99, 1, 1, 2, 3, 5, 8]

In [ ]:
# 3. 리스트가 매개변수 일때 - 리스트의 자체를 새로운 것으로 수정할때
# func3 정의
# list를 새로운 리스트로 변경 [ 28, 31, 33, 35, 27, 26, 25]
def func3(list1) :
    print(f'함수 안 - 변경 전: {list1=}')
    list1 = [ 28, 31, 33, 35, 27, 26, 25]
    print(f'함수 안 - 변경 후: {list1=}')

values = [0, 1, 1, 2, 3, 5, 8 ]
# func3 함수 호출
func3(values)

# values 출력
print(f'함수 밖: {values=}')

함수 안 - 변경 전: list1=[0, 1, 1, 2, 3, 5, 8]
함수 안 - 변경 후: list1=[28, 31, 33, 35, 27, 26, 25]
함수 밖: values=[0, 1, 1, 2, 3, 5, 8]

## **2.2 반환형으로서 리스트**

In [ ]:
# 4. 리스트가 반환형 일 때
# func4 정의
def func4() :
    list1 = [11, 22, 33, 44, 55]
    return list1

# func4 함수 호출
values = func4()

# values 출력
print(f'{values=}')

values=[11, 22, 33, 44, 55]

### 실습 문제
사용자로부터 정수를 4개 입력 받아 리스트에 저장한 후, 화면에 출력하는 프로그램을 작성하시오.

준수사항: 다음 2개의 함수를 정의하여 프로그램에 활용

input_list() : 빈 리스트를 만들고 사용자에게 정수 4개를 입력 받아 리스트에 저장한 후, 해당 리스트를 호출측에 반환하는 함수

print_list(p) : 리스트를 전달받아 모든 요소를 순서대로 출력하는 함수

---
1번째 정수: 3
2번째 정수: 5
3번째 정수: 7
4번째 정수: 9
리스트의 1번째 요소 3
리스트의 2번째 요소 5
리스트의 3번째 요소 7
리스트의 4번째 요소 9

In [ ]:
#############################
## quest 1
# 리스트가 반환형인 경우  - 사용자에게 입력 4번 받아서... 리스트로 생성
# input_list()
import random
def input_list() :
    numbers = []

    for i in range(0,20) :
        #num = int(input("정수 입력 : "))
        num = random.randint(1, 200)
        numbers.append(num)

    print(f'{numbers=}')
    return numbers


# 리스트가 매개변수인 경우 - 리스트 내용을 출력
# print_list(p)
def print_list(list1) :
    for item in list1:
        print(item, end = ', ')



values = input_list()
# print(f'{values=}')
print_list(values)

numbers=[113, 155, 37, 175, 109, 3, 175, 50, 56, 39, 181, 162, 42, 88, 151, 130, 14, 163, 107, 197]
113, 155, 37, 175, 109, 3, 175, 50, 56, 39, 181, 162, 42, 88, 151, 130, 14, 163, 107, 197,

## **2.3 리스트 함축**


## **[수식 for (변수 in 리스트) if (조건) ]**

In [ ]:
# 0 에서 9 까지의 제곱 값의 리스트 생성하기
# 일반적인 경우
list1 = []
for x in range(0, 10) :
    list1.append(x*x)
print(f'{list1=}')


# 리스트 함축인 경우
list2 = [ x*x for x in range(0,10)]
print(f'{list2=}')

list1=[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
list2=[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# # 0 에서 9 까지 짝수만 제곱 값의 리스트 생성하기
# 일반적인 경우
list1 = []
for x in range(0, 10) :
    if x%2 == 0 :
        list1.append(x*x)
print(f'{list1=}')

# 리스트 함축인 경우
# [수식 for (변수 in 리스트) if (조건) ]
list2 =[ x*x for x in range(0, 10) if x%2 ==0 ]
print(f'{list2=}')

list1=[0, 4, 16, 36, 64]
list2=[0, 4, 16, 36, 64]

In [ ]:
words = ["All", "good", "things", "must", "come", "to", "an", "end."]
# 다음 리스트 중 첫글자만 이용
# 일반적인 경우
letters = []
for item in words:
    #print(item[0])
    letters.append(item[0])
print(f'{letters=}')

# 리스트 함축인 경우
list2 = [item[0] for item in words]
print(f'{list2=}')

letters=['A', 'g', 't', 'm', 'c', 't', 'a', 'e']
list2=['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

# **3부 파일 Preview**


*  3단계 : 파일 열기(open()) - 읽고/쓰기 - 파일 닫기(close())

In [ ]:
# 파일 열고 닫기

# 파일 쓰기 모드로 열기 - 닫기
outfile = open('example.txt', "w")
outfile.close()

# 파일 읽기 모드로 열기 - 닫기
infile = open('example.txt', 'r')
infile.close()



* 파일 쓰기 : write(문자열)  
   - 문자열을 하나씩 쓰기

In [ ]:
#1. 파일 쓰기 모드로 example.txt 열기
outfile = open('example.txt', "w")
outfile.write("hong\n")
outfile.write("mju\n")
outfile.write(str(10))
outfile.close()

message='hong\nmju\n10'

* 파일 읽기 : read()  
   - 파일을 한꺼번에 읽음, 문자열로 리턴

In [ ]:
#1. 파일 읽기 모드로 example.txt 열기
infile = open('example.txt', "r")
message = infile.read()
infile.close()

print(f'{message=}')